[stage]
JAVA_HOME=C:\Arquivos de programas\EPO_OLF5\JRE_1_4_2
FOP_HOME=C:\Arquivos de programas\EPO_OLF5\fop
DB_PROD=C:\Arquivos de programas\EPO_OLF5\db\eOLFi.gdb
DB_DEMO=C:\Arquivos de programas\EPO_OLF5\db\eOLFdi.gdb
LOG_LEVEL=1
FORM_CODE=BRF112
FORM_TYPE=12
BUILD=             
LOCALIZE_TITLE=BR
LOCALIZE=50
TEMPLATE_NAME=DIRPA-FQ012 Formulário da Resolução INPI 207 Declaração Negativa
TEMPLATE_TYPE=BRF112
TEMPLATE_DESCRIPTION=Formulario da Resolucao INPI 207 Declaracao Negativa
FEES_CODE=BR
FEES_CUSROR=brTaxasINPI
CURRENCY_CURSOR=brMoeda
CORBA_PORT=52012
SOAP_PORT=62012
APPL_HOME=C:\INPI\e-Deposito\brf112
EXE_NAME=C:\INPI\e-Deposito\brf112\bin\brf112
CountryCode=BR
