[stage]
JAVA_HOME=C:\Arquivos de programas\EPO_OLF5\JRE_1_4_2
FOP_HOME=C:\Arquivos de programas\EPO_OLF5\fop
DB_PROD=C:\Arquivos de programas\EPO_OLF5\db\eOLFi.gdb
DB_DEMO=C:\Arquivos de programas\EPO_OLF5\db\eOLFdi.gdb
LOG_LEVEL=1
FORM_CODE=BRF109
FORM_TYPE=9
BUILD=     
LOCALIZE_TITLE=BR
LOCALIZE=50
TEMPLATE_NAME=DIRPA-FQ009 Requerimento de Exame Prioritário
TEMPLATE_TYPE=BRF109
TEMPLATE_DESCRIPTION=Requerimento de Exame Prioritario
FEES_CODE=BR
FEES_CUSROR=brTaxasINPI
CURRENCY_CURSOR=brMoeda
CORBA_PORT=52009
SOAP_PORT=62009
APPL_HOME=C:\INPI\e-Deposito\brf109
EXE_NAME=C:\INPI\e-Deposito\brf109\bin\brf109
CountryCode=BR
