[stage]
JAVA_HOME=C:\Arquivos de programas\EPO_OLF5\JRE_1_4_2
FOP_HOME=C:\Arquivos de programas\EPO_OLF5\fop
DB_PROD=C:\Arquivos de programas\EPO_OLF5\db\eOLFi.gdb
DB_DEMO=C:\Arquivos de programas\EPO_OLF5\db\eOLFdi.gdb
LOG_LEVEL=1
FORM_CODE=BRF104
FORM_TYPE=4
BUILD=     
LOCALIZE_TITLE=BR
LOCALIZE=50
TEMPLATE_NAME=DIRPA-FQ004 Transferência ou de Alteração de Nome(s) ou Endereço(s)
TEMPLATE_TYPE=BRF104
TEMPLATE_DESCRIPTION=Transferencia ou de Alteracao de Nome(s) ou Endereco(s)
FEES_CODE=BR
FEES_CUSROR=brTaxasINPI
CURRENCY_CURSOR=brMoeda
CORBA_PORT=52004
SOAP_PORT=62004
APPL_HOME=C:\INPI\e-Deposito\brf104
EXE_NAME=C:\INPI\e-Deposito\brf104\bin\brf104
CountryCode=BR
