[stage]
JAVA_HOME=C:\Arquivos de programas\EPO_OLF5\JRE_1_4_2
FOP_HOME=C:\Arquivos de programas\EPO_OLF5\fop
DB_PROD=C:\Arquivos de programas\EPO_OLF5\db\eOLFi.gdb
DB_DEMO=C:\Arquivos de programas\EPO_OLF5\db\eOLFdi.gdb
LOG_LEVEL=1
FORM_CODE=BRF114
FORM_TYPE=14
BUILD=     
LOCALIZE_TITLE=BR
LOCALIZE=50
TEMPLATE_NAME=DIRPA-FQ014 Opinião Preliminar sobre a Patenteabilidade
TEMPLATE_TYPE=BRF114
TEMPLATE_DESCRIPTION=Opiniao Preliminar sobre a Patenteabilidade
FEES_CODE=BR
FEES_CUSROR=brTaxasINPI
CURRENCY_CURSOR=brMoeda
CORBA_PORT=52014
SOAP_PORT=62014
APPL_HOME=C:\INPI\e-Deposito\brf114
EXE_NAME=C:\INPI\e-Deposito\brf114\bin\brf114
CountryCode=BR
