[stage]
JAVA_HOME=C:\Arquivos de programas\EPO_OLF5\JRE_1_4_2
FOP_HOME=C:\Arquivos de programas\EPO_OLF5\fop
DB_PROD=C:\Arquivos de programas\EPO_OLF5\db\eOLFi.gdb
DB_DEMO=C:\Arquivos de programas\EPO_OLF5\db\eOLFdi.gdb
LOG_LEVEL=1
FORM_CODE=BRF111
FORM_TYPE=11
BUILD=     
LOCALIZE_TITLE=BR
LOCALIZE=50
TEMPLATE_NAME=DIRPA-FQ011 Declaração de Acesso ao Patrimônio Genético
TEMPLATE_TYPE=BRF111
TEMPLATE_DESCRIPTION=Declaracao de Acesso ao Patrimonio Genetico
FEES_CODE=BR
FEES_CUSROR=brTaxasINPI
CURRENCY_CURSOR=brMoeda
CORBA_PORT=52011
SOAP_PORT=62011
APPL_HOME=C:\INPI\e-Deposito\brf111
EXE_NAME=C:\INPI\e-Deposito\brf111\bin\brf111
CountryCode=BR
