[stage]
JAVA_HOME=C:\Arquivos de programas\EPO_OLF5\JRE_1_4_2
FOP_HOME=C:\Arquivos de programas\EPO_OLF5\fop
DB_PROD=C:\Arquivos de programas\EPO_OLF5\db\eOLFi.gdb
DB_DEMO=C:\Arquivos de programas\EPO_OLF5\db\eOLFdi.gdb
LOG_LEVEL=1
FORM_CODE=BRF108
FORM_TYPE=8
BUILD=     
LOCALIZE_TITLE=BR
LOCALIZE=50
TEMPLATE_NAME=DIRPA-FQ008 Solicitação de Devolução de Prazo
TEMPLATE_TYPE=BRF108
TEMPLATE_DESCRIPTION=Solicitacao de Devolucao de Prazo
FEES_CODE=BR
FEES_CUSROR=brTaxasINPI
CURRENCY_CURSOR=brMoeda
CORBA_PORT=52008
SOAP_PORT=62008
APPL_HOME=C:\INPI\e-Deposito\brf108
EXE_NAME=C:\INPI\e-Deposito\brf108\bin\brf108
CountryCode=BR
