[stage]
JAVA_HOME=C:\Arquivos de programas\EPO_OLF5\JRE_1_4_2
FOP_HOME=C:\Arquivos de programas\EPO_OLF5\fop
DB_PROD=C:\Arquivos de programas\EPO_OLF5\db\eOLFi.gdb
DB_DEMO=C:\Arquivos de programas\EPO_OLF5\db\eOLFdi.gdb
LOG_LEVEL=1
FORM_CODE=BRF102
FORM_TYPE=2
BUILD=    
LOCALIZE_TITLE=BR
LOCALIZE=50
TEMPLATE_NAME=DIRPA-FQ002 Petição
TEMPLATE_TYPE=BRF102
TEMPLATE_DESCRIPTION=Petição
FEES_CODE=BR
FEES_CUSROR=brTaxasINPI
CURRENCY_CURSOR=brMoeda
CORBA_PORT=52002
SOAP_PORT=62002
APPL_HOME=C:\INPI\e-Deposito\brf102
EXE_NAME=C:\INPI\e-Deposito\brf102\bin\brf102
CountryCode=BR
