[stage]
JAVA_HOME=C:\Arquivos de programas\EPO_OLF5\JRE_1_4_2
FOP_HOME=C:\Arquivos de programas\EPO_OLF5\fop
DB_PROD=C:\Arquivos de programas\EPO_OLF5\db\eOLFi.gdb
DB_DEMO=C:\Arquivos de programas\EPO_OLF5\db\eOLFdi.gdb
LOG_LEVEL=1
FORM_CODE=BRF101
FORM_TYPE=2
BUILD=   
LOCALIZE_TITLE=BR
LOCALIZE=50
TEMPLATE_NAME=BRF101
TEMPLATE_TYPE=BRF101
TEMPLATE_DESCRIPTION=BRF101
FEES_CODE=BR3
FEES_CUSROR=brFee
CURRENCY_CURSOR=brCurr
CORBA_PORT=11101
SOAP_PORT=21101
APPL_HOME=C:\INPI\e-Deposito\brf101
EXE_NAME=C:\Arquivos de programas\EPO_OLF5\brf101\bin\brf101
CountryCode=BR
